body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.plot {
  border: 2px solid black;
  display: inline-block;
  height: 50px;
  width: 50px;
  outline: 1px solid lightgreen;
}

.farm {
  background:green url(./assets/bg.jpg) bottom center;
  position: fixed;
  width: 500px;
  height: 100px;
  bottom: 0%;
  right: 0%;
  display: flex;
  outline: 3px solid lightblue;
}

.buttons {
  width: 50px;
  flex-direction: column;
  position: absolute;
  right: 0px;
  padding: 5px;
  outline: 1px solid red;
}

.buttons > button {
  width: 100%;
  font-size: 8px;
}