body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.plot {
  border: 2px solid black;
  display: inline-block;
  height: 50px;
  width: 50px;
  outline: 1px solid lightgreen;
}

.farm {
  background:green url(./assets/bg.jpg) bottom center;
  position: fixed;
  width: 500px;
  height: 100px;
  bottom: 0%;
  right: 0%;
  display: flex;
  outline: 3px solid lightblue;
}

.buttons {
  width: 50px;
  flex-direction: column;
  position: absolute;
  right: 0px;
  padding: 5px;
  outline: 1px solid red;
}

.buttons > button {
  width: 100%;
  font-size: 8px;
}

/***********************************************************/
/*                   CROP IMAGES                           */
/***********************************************************/

.empty {
  width: 50px;
  height: 50px;
}

/* TOMATO */
.crops--tomato0 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAIVBMVEUAAAASICBCJDNbMz1qP0VgOEBVLzpCJDOOUlK6dWr///8XH9smAAAAB3RSTlMAAAAAAAAAVWTqWAAAAAFiS0dECmjQ9FYAAAAHdElNRQfmBQoWBSz8kHpPAAAAW0lEQVQI12NgEBQUYMABmJQUGICIgUG53InJ3AjIUO8sYqooAosEKZWDGEpK6aVKSkC15kUV00FqgfLmpSBdQB1KauVOYDVKQI0MYG1hYBGQQWCTQUYjLGNgAAB8ZxI++NayKAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMi0wNS0xMFQyMjowNToxMCswMDowMDBRU7cAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjItMDUtMTBUMjI6MDU6MTArMDA6MDBBDOsLAAAAAElFTkSuQmCC)
  no-repeat;
  width: 50px;
  height: 50px;
  background-size: 100%;
}

.crops--tomato1 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAARVBMVEUAAAASICAUPioSSiQUNicSOSIeNCgmGyI7FyUfHSFNFydZGSZJFyctGiMSICAUoC4aej4kUjs7FyVzFy3fPiO0ICr///8tD9GrAAAADnRSTlMAAAAAAAAAAAAAAAAAAKroblcAAAABYktHRBZ80agZAAAAB3RJTUUH5gUKFgUs/JB6TwAAAH1JREFUGNNNjwkOwyAMBKFX3DTd+qj//9X6IFJXAjEjY8MYlbky/hCRS5t5BW53fJixRJxRfFYAImDBY54tAIZANyqmZ3JG9zS0a5ZDGFaG1AyIJbFpi2/Ey7ZwD3Y3W+KlnpxGj+qqtrgKaow29tgwcStzEK3fhoq8t3z5D7hWCk1vax4mAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIyLTA1LTEwVDIyOjA1OjEwKzAwOjAwMFFTtwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0wNS0xMFQyMjowNToxMCswMDowMEEM6wsAAAAASUVORK5CYII)
  no-repeat;
  width: 50px;
  height: 50px;
  background-size: 100%;
}

.crops--tomato2 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAARVBMVEUAAAASICAUPioSSiQUNicSOSIeNCgmGyI7FyUfHSFNFydZGSZJFyctGiMSICAUoC4aej4kUjs7FyVzFy3fPiO0ICr///8tD9GrAAAADnRSTlMAAAAAAAAAAAAAAAAAAKroblcAAAABYktHRBZ80agZAAAAB3RJTUUH5gUKFgUs/JB6TwAAAH1JREFUGNNNjwkOwyAMBKFX3DTd+qj//9X6IFJXAjEjY8MYlbky/hCRS5t5BW53fJixRJxRfFYAImDBY54tAIZANyqmZ3JG9zS0a5ZDGFaG1AyIJbFpi2/Ey7ZwD3Y3W+KlnpxGj+qqtrgKaow29tgwcStzEK3fhoq8t3z5D7hWCk1vax4mAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIyLTA1LTEwVDIyOjA1OjEwKzAwOjAwMFFTtwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0wNS0xMFQyMjowNToxMCswMDowMEEM6wsAAAAASUVORK5CYII)
  no-repeat;
  width: 50px;
  height: 50px;
  background-size: 100%;
}

.crops--tomato3 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAARVBMVEUAAAASICAUPioSSiQUNicSOSIeNCgmGyI7FyUfHSFNFydZGSZJFyctGiMSICAUoC4aej4kUjs7FyVzFy3fPiO0ICr///8tD9GrAAAADnRSTlMAAAAAAAAAAAAAAAAAAKroblcAAAABYktHRBZ80agZAAAAB3RJTUUH5gUKFgUs/JB6TwAAAH1JREFUGNNNjwkOwyAMBKFX3DTd+qj//9X6IFJXAjEjY8MYlbky/hCRS5t5BW53fJixRJxRfFYAImDBY54tAIZANyqmZ3JG9zS0a5ZDGFaG1AyIJbFpi2/Ey7ZwD3Y3W+KlnpxGj+qqtrgKaow29tgwcStzEK3fhoq8t3z5D7hWCk1vax4mAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIyLTA1LTEwVDIyOjA1OjEwKzAwOjAwMFFTtwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0wNS0xMFQyMjowNToxMCswMDowMEEM6wsAAAAASUVORK5CYII)
  no-repeat;
  width: 50px;
  height: 50px;
  background-size: 100%;
}

.crops--tomato4 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAARVBMVEUAAAASICAUPioSSiQUNicSOSIeNCgmGyI7FyUfHSFNFydZGSZJFyctGiMSICAUoC4aej4kUjs7FyVzFy3fPiO0ICr///8tD9GrAAAADnRSTlMAAAAAAAAAAAAAAAAAAKroblcAAAABYktHRBZ80agZAAAAB3RJTUUH5gUKFgUs/JB6TwAAAH1JREFUGNNNjwkOwyAMBKFX3DTd+qj//9X6IFJXAjEjY8MYlbky/hCRS5t5BW53fJixRJxRfFYAImDBY54tAIZANyqmZ3JG9zS0a5ZDGFaG1AyIJbFpi2/Ey7ZwD3Y3W+KlnpxGj+qqtrgKaow29tgwcStzEK3fhoq8t3z5D7hWCk1vax4mAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIyLTA1LTEwVDIyOjA1OjEwKzAwOjAwMFFTtwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0wNS0xMFQyMjowNToxMCswMDowMEEM6wsAAAAASUVORK5CYII)
  no-repeat;
  width: 50px;
  height: 50px;
  background-size: 100%;
}

.crops--tomato5 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAARVBMVEUAAAASICAUPioSSiQUNicSOSIeNCgmGyI7FyUfHSFNFydZGSZJFyctGiMSICAUoC4aej4kUjs7FyVzFy3fPiO0ICr///8tD9GrAAAADnRSTlMAAAAAAAAAAAAAAAAAAKroblcAAAABYktHRBZ80agZAAAAB3RJTUUH5gUKFgUs/JB6TwAAAH1JREFUGNNNjwkOwyAMBKFX3DTd+qj//9X6IFJXAjEjY8MYlbky/hCRS5t5BW53fJixRJxRfFYAImDBY54tAIZANyqmZ3JG9zS0a5ZDGFaG1AyIJbFpi2/Ey7ZwD3Y3W+KlnpxGj+qqtrgKaow29tgwcStzEK3fhoq8t3z5D7hWCk1vax4mAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIyLTA1LTEwVDIyOjA1OjEwKzAwOjAwMFFTtwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0wNS0xMFQyMjowNToxMCswMDowMEEM6wsAAAAASUVORK5CYII)
  no-repeat;
  width: 50px;
  height: 50px;
  background-size: 100%;
}

.crops--corn5 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAQlBMVEUAAAAiHBoSICBrZiZVSyUWPyISQCMSSiQaHh1HQiQVRCwYMCkiHBoSICD//ED/1UEUoC4aej76agr5oxskUjv////BPLZhAAAADHRSTlMAAAAAAAAAAAAAAAD/kRimAAAAAWJLR0QV5dj5owAAAAd0SU1FB+YFChYFLPyQek8AAABwSURBVBjTbc9LEsMgDANQ6n5oGymxCfc/awVMYRPt9AyMSekqN8WU2e/A40na6vsB+gJ1ifNlf1DfEc485P1pUqZYJnEeJ2qMZzLdA6VLB3pQM5QJ5Jc6DqB2aCtuTWrUuUoX9W1uL1FWHxfNLj6efnR3BsIu3EIhAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIyLTA1LTEwVDIyOjA1OjEwKzAwOjAwMFFTtwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0wNS0xMFQyMjowNToxMCswMDowMEEM6wsAAAAASUVORK5CYII)
  no-repeat;
  width: 50px;
  height: 50px;
  background-size: 100%;
}